{% extends "base.html" %}

{% block content %}

<h2>Routes</h2>

<p><a href="{% url 'create_route' %}">Add New Route</a></p>

{% if routes %}
    <table>
        <thead>
            <tr>
                <th>Route Name</th>
            </tr>
        </thead>
        <tbody>
            {% for route in routes %}
                <tr>
                    <td>{{ route.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No routes have been added yet.</p>
{% endif %}

{% endblock %}